<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AuthMapper">

	<select id="getUserById" parameterType="string" resultType="AuthVO">
		SELECT
		 id, password, userName, profile, dbNum
		FROM
		  TB_MEMBER
		WHERE
		  id = #{id}
	</select>


	<select id="getMembers"  resultType="AuthVO">
		SELECT
		  id, password, userName, profile, dbNum
		FROM
		  TB_MEMBER
	</select>
</mapper>


